global
    maxconn 5000

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    http-reuse aggressive

frontend frontend
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    server api-1 /sockets/api1.sock check inter 5s maxconn 500
    server api-2 /sockets/api2.sock check inter 5s maxconn 500
