global
    maxconn 5000

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    http-reuse aggressive
    option forwardfor

frontend frontend
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api-1 api-1:8080 check maxconn 500
    server api-2 api-2:8080 check maxconn 500
